<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Noise and Denoising</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .spinner {
            display: none;
            width: 1em;
            height: 1em;
            border: 2px solid transparent;
            border-top-color: currentColor;
            border-radius: 50%;
            animation: spin 0.6s linear infinite;
            margin-left: 5px;
            vertical-align: middle;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    </style>

    <style>
        #image-preview {
            display: none;
            /* Awalnya sembunyikan div preview */
        }
    </style>

</head>

<body class="bg-white text-gray-900">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Upload an image to add noise and denoise</h1>
        <form id="uploadForm" method="post" enctype="multipart/form-data" class="mb-4" onsubmit="submitForm(event)">
            <div class="col-span-full">
                <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Cover photo</label>
                <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                    <div class="text-center">
                        <div id="upload-container">
                            <div class="text-center">
                                <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                        clip-rule="evenodd" />
                                </svg>
                                <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                    <label for="file-upload"
                                        class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                        <span>Upload a file</span>
                                        <input id="file-upload" name="file" type="file" class="sr-only"
                                            onchange="previewImage(event)">
                                    </label>
                                    <p class="pl-1">or drag and drop</p>
                                </div>
                                <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                            </div>
                        </div>
                        <div id="image-preview" class="mt-4">
                            <!-- Ini adalah tempat gambar yang dipilih akan ditampilkan -->
                        </div>
                    </div>
                </div>
            </div>
            <label for="noise_type" class="block mb-2">Noise Type:</label>
            <select name="noise_type" id="noise_type" class="block w-full p-2 mb-4 border border-gray-300 rounded-md">
                <option value="gaussian">Gaussian</option>
                <option value="salt_pepper">Salt & Pepper</option>
                <option value="speckle">Speckle</option>
            </select>
            <label for="params" class="block mb-2">Noise Parameters (comma separated):</label>
            <input type="text" id="params" name="params" value="0.01,0.05,0.1"
                class="block w-full p-2 mb-4 border border-gray-300 rounded-md">
            <div class="flex items-center">
                <button type="submit" id="uploadButton"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">
                    <span>Upload</span>
                    <span id="spinner" class="spinner"></span>
                </button>
            </div>
        </form>
        {% if filename %}
        <h2 class="text-xl font-semibold mb-2">Original Image:</h2>
        <img src="{{ url_for('static', filename='images/' + filename) }}" alt="Original Image" class="mb-4 w-full">
        {% endif %}
        {% if noisy_images %}
        <h2 class="text-xl font-semibold mb-2">Noisy Images:</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for noisy_image, psnr_value in zip(noisy_images, psnr_values) %}
            <div class="border p-4 rounded-lg bg-white">
                <img src="{{ url_for('static', filename='images/' + noisy_image) }}" alt="Noisy Image"
                    class="mb-2 w-full">
                <p>PSNR: {{ psnr_value }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if denoised_images %}
        <h2 class="text-xl font-semibold mb-2">Denoised Images:</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for denoised_image, denoised_psnr_value in zip(denoised_images, denoised_psnr_values) %}
            <div class="border p-4 rounded-lg bg-white">
                <img src="{{ url_for('static', filename='images/' + denoised_image) }}" alt="Denoised Image"
                    class="mb-2 w-full">
                <p>PSNR: {{ denoised_psnr_value }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <script>
        function showSpinner() {
            document.getElementById('spinner').style.display = 'inline-block';
            document.getElementById('uploadButton').disabled = true;
        }

        function submitForm(event) {
            showSpinner();
            event.preventDefault();
            setTimeout(function () {
                document.getElementById('uploadForm').submit();
            }, 1000); // Example delay, replace with your actual upload logic
        }
    </script>

    <script>
        function previewImage(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const preview = document.getElementById('image-preview');
                    preview.innerHTML = `<img src="${e.target.result}" class="mt-2 rounded-lg shadow-md max-h-60">`;
                    preview.style.display = 'block'; // Tampilkan div preview jika ada gambar

                    const uploadContainer = document.getElementById('upload-container');
                    uploadContainer.style.display = 'none'; // Sembunyikan container upload
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>



</body>

</html>